<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
</head>
<body>
    <form action="/time">
        <fieldset>
            <legend>Date Picker</legend>

            <label id="day">
                Day
                <input type="number" class="focussable keyUpEvent" id="dayInput" min="1" max="31" value="10">
            </label>

            <label id="month">
                Month
                <input type="number" class="focussable keyUpEvent" id="monthInput" min="1" max="12" value="4">
                <span id="monthAbove"></span>
            </label>

            <label id="year">
                Year
                <input type="number" class="focussable keyUpEvent"  id="yearInput" min="0" max="2100" value="2019">
            </label>

            <a href="/" class="focussable">Back to home</a>
            <button type="submit" class="focussable">Set time</button>
            <button type="submit" class="focussable">Done</button>

        </fieldset>
    </form>
    <script src="/js/index.js"></script>
</body>
</html>