<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
</head>
<body>
    <main>
        <section id="progressbar">
            <label for="switch" class="switch-name">
                    Turn off comments
            </label>
            <input id="toggle" type="checkbox" class="focussable"/>
            <label id="label" for="toggle">
              <span id="switch"></span>
            </label>

            <h2>Book an appointment</h2>
            <ul>
                <li>
                    <a href="#appointment" class="focussable">Choose type of appointment</a>
                </li>
                <li>
                    <a href="#date" class="focussable">Choose date</a>
                </li>
                <li>
                    <a href="#hairdresser" class="focussable">Choose your favorite hairdresser</a>
                </li>
                <li>
                    <a href="#time" class="focussable">Set time</a>
                </li>
                <li>
                    <a href="#confirmation" class="focussable">Confirm appointment</a>
                </li>
            </ul>
            <div class="button-wrapper">
                <a href="/" class="focussable">Cancel</a>
                <a href="/" class="focussable"><</a>
                <a href="/" class="focussable">></a>
            </div>
        </section>
                
        <section id="index">
            <h1>Hairdresser</h1>
            <p>
                Je zoekt een goede kapper Amsterdam en misschien wel de beste kapper in Amsterdam? 
                Zoek niet verder want ons enige doel is om jouw haar iedere dag mooi te laten zitten, 
                met – als je wilt – een perfecte kleuring.
                Volgens veel van onze klanten vindt je de beste kapper van Amsterdam aan één van de mooiste grachten 
                in hartje Centrum: in een rustige omgeving ontvangen wij je met veel persoonlijke aandacht.
                Elkaars vertrouwen winnen lukt niet in een half uurtje. Daarom nemen wij de tijd, luisteren en 
                zorgen er altijd voor dat je haar er beter uit ziet. Iedere behandeling duurt dan ook minimaal 
                1 uur want de kapper wil je immers de volledige aandacht geven en wil weten wat je wensen zijn. 
                Je moet hem of haar volledig kunnen vertrouwen.
            </p>

            <a href="#appointment" class="focussable">Book an appointment</a>
            <span class="explanation">Navigate buttons with the <i>spacebar</i> and press <i>enter</i> to select</span>
        </section>

        <section id="appointment">
            <h1>What do you want to do?</h1>
            
            <div class="button-wrapper">

                <div class="individual-button">
                    <a href="#appointment" class="focussable first-check">
                        Colour
                    </a>
                    <span>Colour your hair in any desired colour</span>
                    <span>ca. 120 minutes</span>
                </div>
                <div class="individual-button">
                    <a href="#appointment" class="focussable second-check">
                        Cut 
                    </a>
                    <span>Cut your hair in any desired cut</span>
                    <span>ca. 30 minutes</span>
                </div>
            </div>  

            <a href="#date" class="focussable">Done</a>
        </section>

        <section id="date">
            <form action="/">
                <fieldset>
                    <legend>Pick a day to book your appointment</legend>

                    <div class="individual-button">
                        <label id="month">
                            Month
                            <input type="number" class="focussable keyUpEvent" id="monthInput" min="1" max="12" value="4">
                            <span id="monthAbove">April</span>
                        </label>
                        <span>Pick a month</span>
                    </div>

                    <div class="individual-button"></div>
                        <label id="day">
                            Day
                            <input type="number" class="focussable keyUpEvent" id="dayInput" min="1" max="31" value="10">
                        </label>
                        <span>Choose the day of your appointment</span>
                    </div>

                </fieldset>

                <span class="explanation">
                    Navigate with the left side of the keyboard to lower the time
                    and with the right side to go up
                </span>
            </form>
            <a href="#hairdresser" class="focussable">Set date</a>
        </section>

        <section id="hairdresser">
            <h1>Choose your favorite hairdresser</h1>
            
            <div class="button-wrapper">
                <div class="individual-button">
                    <a href="#hairdresser" class="focussable first-check">
                        Lize
                    </a>
                    <span>Expert in haircoloring</span>
                </div>
                <div class="individual-button">
                    <a href="#hairdresser" class="focussable second-check">
                        Tim
                    </a>
                    <span>Expert in anything</span>
                </div>
            </div>

            <a href="#time" class="focussable">Choose hairdresser</a>
        </section>

        <section id="time">
            <form action="/">
                <fieldset>
                    <legend>Pick the time of your appointment</legend>
                
                    <button type="button" class="focussable first-check">AM</button>
                    <button type="button" class="focussable second-check">PM</button>
                
                    <label id="hours">
                        Hours
                        <input type="number" class="focussable keyUpEvent"  id="hoursInput" min="1" max="12">
                    </label>
                
                
                    <label id="minutes">
                        Minutes
                        <input type="number" class="focussable keyUpEvent"  id="minutesInput" min="0" max="59">
                    </label>
                
                    <a href="#confirmation" class="focussable">Set time</a>
                
                </fieldset>

                <span class="explanation">
                    Navigate with the left side of the keyboard to lower the time
                    and with the right side to go up
                </span>
            </form>
        </section>

        <section id="confirmation">
            <h1>Almost there!</h1>
            <p>Make sure the following information is correct!</p>
            <ul>
                <li>Type of appointment: Cut</li>
                <li>Date of appointment: 10 april 2019</li>
                <li>Your hairdresser: Tim</li>
                <li>Time of your appointment: 12:30</li>
            </ul>
            <a href="/" class="focussable">Confirm</a>
        </section>

    </main>
    <script src="/js/index.js"></script>
</body>
</html>