<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
</head>
<body>
    <form action="/">
        <fieldset>
            <legend>Date Picker</legend>

            <button type="button" class="focussable " id="am">AM</button>
            <button type="button" class="focussable " id="pm">PM</button>

            <label id="hours">
                Hours
                <input type="number" class="focussable keyUpEvent"  id="hoursInput" min="1" max="12">
            </label>


            <label id="minutes">
                Minutes
                <input type="number" class="focussable keyUpEvent"  id="minutesInput" min="0" max="59">
            </label>

            <a href="/" class="focussable">Set date</a>
            <button type="submit" class="focussable">Done</button>

        </fieldset>
    </form>
    <script src="/js/index.js"></script>
</body>
</html>